<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- store page css block -->
    {{widget type="Magento\Cms\Block\Widget\Block"
    template="widget/static_block/default.phtml" block_id="167"}}
   

      <!-- acco start -->
      <section class="store-page-accordion">
        <div class="accordion-btn-wrapper">
          <button id="toggleAllButton">Show All</button>
        </div>
        <div class="accordion">
          <article>
            <div class="accordion-item">
              <div
                class="accordion-header active"
                style="border-top: 1px solid silver"
              >
                <h2>
                 
                </h2>
              </div>
              <div class="accordion-content" style="max-height: 1000px">
                <div class="accordion-content-wrapper">
               
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h2>

                </h2>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h3>
                
                </h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h4>

                </h4>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
               
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h4>
                
                </h4>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h5>
              
                </h5>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h2>
                 
                </h2>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
              
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h3>
                
                </h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h3>
               
                </h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
               
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h4>
              
                </h4>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h2>

                </h2>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
              
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div class="accordion-header">
                <h3>
                
                </h3>
              </div>
              <div class="accordion-content">
                <div class="accordion-content-wrapper">
                 
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
      <!-- acco end -->

      
    <!-- store page Js block -->
    {{widget type="Magento\Cms\Block\Widget\Block"
    template="widget/static_block/default.phtml" block_id="168"}}
  </body>
</html>
